In [4]:
import math
import matplotlib.pyplot as plt
import keras
import pandas as pd
import numpy as np

In [5]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout
from keras.layers import *

In [6]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [7]:
df=pd.read_csv("SBIN.csv")
print('Number of rows and columns:', df.shape)
df.head(5)

Number of rows and columns: (5306, 15)

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,SBIN,EQ,225.60,236.00,243.65,234.25,243.65,243.65,240.83,2373228,5.715338e+13,NaN,NaN,NaN
1,2000-01-04,SBIN,EQ,243.65,243.65,262.00,238.85,258.00,259.10,251.46,4495741,1.130506e+14,NaN,NaN,NaN
2,2000-01-05,SBIN,EQ,259.10,249.00,264.70,245.00,249.05,248.45,252.35,3434058,8.666008e+13,NaN,NaN,NaN
3,2000-01-06,SBIN,EQ,248.45,252.00,268.00,252.00,260.50,261.00,262.18,6658801,1.745817e+14,NaN,NaN,NaN
4,2000-01-07,SBIN,EQ,261.00,261.50,279.90,255.00,279.00,273.30,269.02,7873985,2.118287e+14,NaN,NaN,NaN

In [8]:
df.drop(columns = 'Symbol', inplace = True)
df.drop(columns = 'Series', inplace = True)
df.drop(columns = 'Prev Close', inplace = True)
df.drop(columns = 'Turnover', inplace = True)
df.drop(columns = 'Trades', inplace = True)
df.drop(columns = 'Deliverable Volume', inplace = True)
df.drop(columns = '%Deliverble', inplace = True)

In [9]:
df.head()

         Date    Open    High     Low    Last   Close    VWAP   Volume
0  2000-01-03  236.00  243.65  234.25  243.65  243.65  240.83  2373228
1  2000-01-04  243.65  262.00  238.85  258.00  259.10  251.46  4495741
2  2000-01-05  249.00  264.70  245.00  249.05  248.45  252.35  3434058
3  2000-01-06  252.00  268.00  252.00  260.50  261.00  262.18  6658801
4  2000-01-07  261.50  279.90  255.00  279.00  273.30  269.02  7873985

In [10]:
df.iloc[0:, 5:6].head()

    Close
0  243.65
1  259.10
2  248.45
3  261.00
4  273.30

In [11]:
training_set = df.iloc[:4000, 5:6].values
test_set = df.iloc[4000:, 5:6].values

In [12]:
# Feature Scaling
sc = MinMaxScaler(feature_range = (0, 1))
training_set_scaled = sc.fit_transform(training_set)
# Creating a data structure with 60 time-steps and 1 output
X_train = []
y_train = []
for i in range(60, 4000):
    X_train.append(training_set_scaled[i-60:i, 0])
    y_train.append(training_set_scaled[i, 0])
X_train, y_train = np.array(X_train), np.array(y_train)
X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))
#(740, 60, 1)

In [13]:
X_train.shape

(3940, 60, 1)

In [14]:
model = Sequential()
#Adding the first LSTM layer and some Dropout regularisation
model.add(LSTM(units = 50, return_sequences = True, input_shape = (X_train.shape[1], 1)))
model.add(Dropout(0.2))
# Adding a second LSTM layer and some Dropout regularisation
model.add(LSTM(units = 50, return_sequences = True))
model.add(Dropout(0.2))
# Adding a third LSTM layer and some Dropout regularisation
model.add(LSTM(units = 50, return_sequences = True))
model.add(Dropout(0.2))
# Adding a fourth LSTM layer and some Dropout regularisation
model.add(LSTM(units = 50))
model.add(Dropout(0.2))
# Adding the output layer
model.add(Dense(units = 1))

# Compiling the RNN
model.compile(optimizer = 'adam', loss = 'mean_squared_error')

# Fitting the RNN to the Training set
model.fit(X_train, y_train, epochs = 100, batch_size = 32)

Epoch 1/100
124/124 [==============================] - 13s 66ms/step - loss: 0.0125
Epoch 2/100
124/124 [==============================] - 10s 78ms/step - loss: 0.0044
Epoch 3/100
124/124 [==============================] - 8s 66ms/step - loss: 0.0038
Epoch 4/100
124/124 [==============================] - 8s 63ms/step - loss: 0.0036
Epoch 5/100
124/124 [==============================] - 12s 94ms/step - loss: 0.0031
Epoch 6/100
124/124 [==============================] - 12s 92ms/step - loss: 0.0030
Epoch 7/100
124/124 [==============================] - 8s 65ms/step - loss: 0.0027
Epoch 8/100
124/124 [==============================] - 9s 71ms/step - loss: 0.0025
Epoch 9/100
124/124 [==============================] - 9s 71ms/step - loss: 0.0023
Epoch 10/100
124/124 [==============================] - 9s 69ms/step - loss: 0.0023
Epoch 11/100
124/124 [==============================] - 9s 69ms/step - loss: 0.0022
Epoch 12/100
124/124 [==============================] - 9s 71ms/step - loss: 0.0020
Epoch 13/100
124/124 [==============================] - 9s 70ms/step - loss: 0.0019
Epoch 14/100
124/124 [==============================] - 8s 68ms/step - loss: 0.0019
Epoch 15/100
124/124 [==============================] - 9s 70ms/step - loss: 0.0018
Epoch 16/100
124/124 [==============================] - 9s 71ms/step - loss: 0.0017
Epoch 17/100
124/124 [==============================] - 9s 72ms/step - loss: 0.0016
Epoch 18/100
124/124 [==============================] - 8s 68ms/step - loss: 0.0016
Epoch 19/100
124/124 [==============================] - 9s 70ms/step - loss: 0.0015
Epoch 20/100
124/124 [==============================] - 9s 71ms/step - loss: 0.0015
Epoch 21/100
124/124 [==============================] - 8s 68ms/step - loss: 0.0014
Epoch 22/100
124/124 [==============================] - 9s 70ms/step - loss: 0.0014
Epoch 23/100
124/124 [==============================] - 9s 70ms/step - loss: 0.0013
Epoch 24/100
124/124 [==============================] - 8s 68ms/step - loss: 0.0014
Epoch 25/100
124/124 [==============================] - 9s 72ms/step - loss: 0.0013
Epoch 26/100
124/124 [==============================] - 8s 67ms/step - loss: 0.0012
Epoch 27/100
124/124 [==============================] - 9s 69ms/step - loss: 0.0014
Epoch 28/100
124/124 [==============================] - 9s 70ms/step - loss: 0.0012
Epoch 29/100
124/124 [==============================] - 8s 66ms/step - loss: 0.0012
Epoch 30/100
124/124 [==============================] - 9s 70ms/step - loss: 0.0012
Epoch 31/100
124/124 [==============================] - 8s 68ms/step - loss: 0.0012
Epoch 32/100
124/124 [==============================] - 9s 70ms/step - loss: 0.0011
Epoch 33/100
124/124 [==============================] - 13s 106ms/step - loss: 0.0011
Epoch 34/100
124/124 [==============================] - 12s 99ms/step - loss: 0.0011
Epoch 35/100
124/124 [==============================] - 11s 85ms/step - loss: 0.0011
Epoch 36/100
124/124 [==============================] - 10s 78ms/step - loss: 0.0010
Epoch 37/100
124/124 [==============================] - 8s 66ms/step - loss: 0.0012
Epoch 38/100
124/124 [==============================] - 8s 63ms/step - loss: 0.0011
Epoch 39/100
124/124 [==============================] - 8s 66ms/step - loss: 0.0012
Epoch 40/100
124/124 [==============================] - 8s 67ms/step - loss: 0.0010
Epoch 41/100
124/124 [==============================] - 8s 64ms/step - loss: 0.0011
Epoch 42/100
124/124 [==============================] - 8s 66ms/step - loss: 0.0011
Epoch 43/100
124/124 [==============================] - 8s 65ms/step - loss: 9.8892e-04
Epoch 44/100
124/124 [==============================] - 8s 66ms/step - loss: 0.0010
Epoch 45/100
124/124 [==============================] - 8s 67ms/step - loss: 0.0011
Epoch 46/100
124/124 [==============================] - 8s 66ms/step - loss: 9.9322e-04
Epoch 47/100
124/124 [==============================] - 8s 63ms/step - loss: 0.0010
Epoch 48/100
124/124 [==============================] - 8s 66ms/step - loss: 0.0011
Epoch 49/100
124/124 [==============================] - 8s 62ms/step - loss: 0.0010
Epoch 50/100
124/124 [==============================] - 8s 64ms/step - loss: 0.0011
Epoch 51/100
124/124 [==============================] - 8s 65ms/step - loss: 9.8034e-04
Epoch 52/100
124/124 [==============================] - 8s 62ms/step - loss: 0.0010
Epoch 53/100
124/124 [==============================] - 8s 65ms/step - loss: 9.8058e-04
Epoch 54/100
124/124 [==============================] - 8s 63ms/step - loss: 9.6555e-04
Epoch 55/100
124/124 [==============================] - 8s 63ms/step - loss: 9.6504e-04
Epoch 56/100
124/124 [==============================] - 8s 65ms/step - loss: 9.2021e-04
Epoch 57/100
124/124 [==============================] - 8s 66ms/step - loss: 0.0010
Epoch 58/100
124/124 [==============================] - 8s 62ms/step - loss: 9.5464e-04
Epoch 59/100
124/124 [==============================] - 8s 66ms/step - loss: 9.6396e-04
Epoch 60/100
124/124 [==============================] - 8s 66ms/step - loss: 9.8167e-04
Epoch 61/100
124/124 [==============================] - 8s 64ms/step - loss: 9.9439e-04
Epoch 62/100
124/124 [==============================] - 8s 63ms/step - loss: 9.2115e-04
Epoch 63/100
124/124 [==============================] - 8s 67ms/step - loss: 8.7863e-04
Epoch 64/100
124/124 [==============================] - 8s 64ms/step - loss: 9.9492e-04
Epoch 65/100
124/124 [==============================] - 8s 63ms/step - loss: 9.8081e-04
Epoch 66/100
124/124 [==============================] - 8s 66ms/step - loss: 8.9485e-04
Epoch 67/100
124/124 [==============================] - 9s 69ms/step - loss: 9.4279e-04
Epoch 68/100
124/124 [==============================] - 9s 75ms/step - loss: 9.2256e-04
Epoch 69/100
124/124 [==============================] - 8s 68ms/step - loss: 9.3416e-04
Epoch 70/100
124/124 [==============================] - 8s 61ms/step - loss: 8.7977e-04
Epoch 71/100
124/124 [==============================] - 8s 61ms/step - loss: 8.6396e-04
Epoch 72/100
124/124 [==============================] - 8s 62ms/step - loss: 8.3917e-04
Epoch 73/100
124/124 [==============================] - 11s 86ms/step - loss: 9.4339e-04
Epoch 74/100
124/124 [==============================] - 9s 75ms/step - loss: 8.7263e-04
Epoch 75/100
124/124 [==============================] - 9s 75ms/step - loss: 8.4904e-04
Epoch 76/100
124/124 [==============================] - 10s 83ms/step - loss: 9.6023e-04
Epoch 77/100
124/124 [==============================] - 11s 91ms/step - loss: 9.1689e-04
Epoch 78/100
124/124 [==============================] - 11s 86ms/step - loss: 9.0332e-04
Epoch 79/100
124/124 [==============================] - 11s 90ms/step - loss: 9.2823e-04
Epoch 80/100
124/124 [==============================] - 10s 85ms/step - loss: 8.8188e-04
Epoch 81/100
124/124 [==============================] - 11s 89ms/step - loss: 9.3002e-04
Epoch 82/100
124/124 [==============================] - 11s 86ms/step - loss: 8.6861e-04
Epoch 83/100
124/124 [==============================] - 11s 89ms/step - loss: 8.3901e-04
Epoch 84/100
124/124 [==============================] - 10s 84ms/step - loss: 8.9749e-04
Epoch 85/100
124/124 [==============================] - 11s 88ms/step - loss: 8.5109e-04
Epoch 86/100
124/124 [==============================] - 10s 84ms/step - loss: 8.8331e-04
Epoch 87/100
124/124 [==============================] - 11s 88ms/step - loss: 9.6078e-04
Epoch 88/100
124/124 [==============================] - 11s 85ms/step - loss: 8.9926e-04
Epoch 89/100
124/124 [==============================] - 11s 86ms/step - loss: 7.9575e-04
Epoch 90/100
124/124 [==============================] - 11s 86ms/step - loss: 8.3391e-04
Epoch 91/100
124/124 [==============================] - 11s 85ms/step - loss: 8.7842e-04
Epoch 92/100
124/124 [==============================] - 11s 85ms/step - loss: 9.0673e-04
Epoch 93/100
124/124 [==============================] - 11s 85ms/step - loss: 9.1584e-04
Epoch 94/100
124/124 [==============================] - 10s 84ms/step - loss: 8.2636e-04
Epoch 95/100
124/124 [==============================] - 11s 86ms/step - loss: 8.8912e-04
Epoch 96/100

124/124 [==============================] - 10s 85ms/step - loss: 8.8834e-04
Epoch 97/100
124/124 [==============================] - 11s 89ms/step - loss: 8.4568e-04
Epoch 98/100
124/124 [==============================] - 11s 87ms/step - loss: 8.6378e-04
Epoch 99/100
124/124 [==============================] - 11s 85ms/step - loss: 7.9511e-04
Epoch 100/100
124/124 [==============================] - 13s 102ms/step - loss: 8.3679e-04

In [40]:
# Getting the predicted stock price of 2017
dataset_train = df.iloc[:4000, 4:5]
dataset_test = df.iloc[4000:, 4:5]
dataset_total = pd.concat((dataset_train, dataset_test), axis = 0)
inputs = dataset_total[len(dataset_total) - len(dataset_test) - 60:].values
inputs = inputs.reshape(-1,1)
inputs = sc.transform(inputs)
X_test = []
for i in range(60, 1366):
    X_test.append(inputs[i-60:i, 0])
X_test = np.array(X_test)
X_test = np.reshape(X_test, (X_test.shape[0], X_test.shape[1], 1))
print(X_test.shape)
# (459, 60, 1)

(1306, 60, 1)

In [41]:
predicted_stock_price = model.predict(X_test)
predicted_stock_price = sc.inverse_transform(predicted_stock_price)

In [42]:
dataset_train.shape

(4000, 1)

In [43]:
dataset_test.shape

(1306, 1)

In [44]:
predicted_stock_price.shape

(1306, 1)

In [47]:
r2_score(dataset_test.values,predicted_stock_price)

0.9581608057427577